language: objective-c

osx_image: xcode8.3.3

branches:
 only:
 - master

# install: make get-deps

before_install:
 - gem install cocoapods # Since Travis is not always on latest version
 - pod install

script:
- set -o pipefail && xcodebuild -workspace SimpleAssetPicker.xcworkspace -scheme SimpleAssetPicker ONLY_ACTIVE_ARCH=NO CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO
- pod lib lint
